<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94692118237-iqag0natbtmsj7698qdoavapv2ddlv5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94692118237-iqag0natbtmsj7698qdoavapv2ddlv5u</string>
	<key>API_KEY</key>
	<string>AIzaSyBEVeq_wdhMtBC_kYw1cfqTIItcCyG1mJE</string>
	<key>GCM_SENDER_ID</key>
	<string>94692118237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Litmax.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-883</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94692118237:ios:1271aa5f83fabb84301534</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-883.firebaseio.com</string>
</dict>
</plist>